@import "fonts.scss";
@import "font-awesome.scss";
@import "vars.scss";

*::-webkit-input-placeholder {
	color: #222;
	opacity: 1;
}
*:-moz-placeholder {
	color: #222;
	opacity: 1;
}
*::-moz-placeholder {
	color: #222;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #222;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #222;
}
body input:required:valid,
body textarea:required:valid {
	color: #222;
}


body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "OpenSansRegular", sans-serif;
	overflow-x: hidden;
	color: $base;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "OpenSansLight", sans-serif;
	font-weight: normal;
}

h1,
.h1 {
	font-size: em(40px);
	line-height: 1.15;
}

.ishome {
	h1 {
		font-size: em(40px);
		margin-top: 0;
	}
}

h2,
.h2 {
	font-size: em(32px);
}

h3, h4,
.h3, .h4 {
	font-family: "OpenSansSemiBold", sans-serif;
	text-transform: uppercase;
	font-size: em(15px);
}
h4,
.h4 {
	font-size: em(13px);
}

b, strong {
	font-family: "OpenSansSemiBold", sans-serif;
	font-weight: normal;
}
a {
	outline: none !important;
	color: $accent;
}
.text-center {
	text-align: center;
}

.hidden {
	display: none;
}
.main_head {
 min-height: 100vh;
 // background-image: url('../img/background1.jpg');
 background-color: #f2fdff;
 // background-position: top center;
 // background-size: cover;
 // overflow: hidden;
}
.menu_line {
padding-top: em(48px);
.logo {
	display: block;
	width: 120px;
	img {
	 width: 100%;
  }
 }
}

nav, .header_content {
	ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
		li {
			display: inline-block;
		}
	}
}
	.main_menu {
		text-align: center; 
		font-size: em(16px);
		> ul {
			> li {
			  > a {
         display: block;
         padding: 20px 16px;
         color: $base;
		     @include mt(.5s);
         &:hover {
         	color: $d_base;
         }
				}
			 &.active a {
         	color: $d_base;
         	text-decoration: underline;
        }
			}
		}
	}

.phone {
	padding-top: 16px;
	padding-right: 0;
	text-align: right;
	.phone_wrap {
		color: $black;
		font-size: em(21px);
		font-family: "OpenSansSemiBold", sans-serif;
		.fa {
			font-size: em(20px);
			position: relative;
			top: 2px;
			margin-right: 5px;
		}
	}
	.callback {
		display: inline-block;
		color: $base;
		font-size: em(15px);
		line-height: em(18px);
		border-bottom: 1px dashed $base;
		@include mt(.5s);
		&:hover, &:active, &:focus, &:visited {
			outline: none;
			text-decoration: none;
			border-color: transparent;
		}
	}
}

.header_content {
	padding: 9% 0px 5%;
	h1 {
		color: $black;
	}
  .button {
  	margin-top: em(50px);
  }
  .responsive_img {
  	width: 440px;
  	max-width: 440px;
  }
}

ul.home_list {
  margin-top: 40px;
  text-align: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
 li {
  display: block;
  text-transform: uppercase;
  font-family: "OpenSansSemiBold", sans-serif;
  font-size: em(17px);
  line-height: 1.8;
 }
}

.button {
	display: inline-block;
	border: none;
	background-color: $btn;
	color: #fff;
	font-size: em(14px);
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 13px 34px;
	border-radius: 3px;
	box-shadow: 0 4px 0 #06929b;
	transition: all .15s ease;
  text-align: center;
	&:hover, &:focus {
   color: #fff;
   text-decoration: none;
   outline: none;
	}
	&:hover {
		background-color: #09e9f7;
	}
	&:active {
		background-color: #06929b;
		transform: translateY(2px);
	}
}

.button_small {
  padding: 9px 28px;
  font-size: em(13px);
  background-color: $accent;
  box-shadow: 0 4px 0 darken($accent, 6%);
    &:hover {
    background-color: #fcc33c;
    box-shadow: 0 4px 0 darken($accent, 3%);
  }
  &:active, &:focus {
    background-color: darken($accent, 6%);
    box-shadow: 0 4px 0 darken($accent, 6%);
  }
}

.button_gray {
  background-color: #E8E8E8;
  color: #666;
  box-shadow: 0 4px 0 darken(#E8E8E8, 6%);
}

.button_accent {
  background-color: transparent;
  border: 1px $accent solid;
  box-shadow: 0 4px 0 darken($accent, 6%);
  color: $accent;
  font-family: "OpenSansSemiBold", sans-serif;
  &:hover {
    background-color: $accent;
  }
  &:active, &:focus {
    background-color: darken($accent, 6%);
  }
}

.responsive_img {
	max-width: 100%;
  background-size: cover;
}


/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */

.mouse_icon {
  border: 2px solid $black;
  border-radius: 16px;
  height: 40px;
  width: 24px;
  display: inline-block;
  z-index: 10;
  opacity: 0.7;
  cursor: pointer;
  .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-name: drop;
    animation-name: drop;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    position: relative;
    border-radius: 10px;
    background: $base;
    width: 2px;
    height: 6px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
  }
}

@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }

  30% {
    top: 10px;
    opacity: 1;
  }

  100% {
    top: 25px;
    opacity: 0;
  }
}

@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }

  30% {
    top: 10px;
    opacity: 1;
  }

  100% {
    top: 25px;
    opacity: 0;
  }
}

.mw_wrapper {
	text-align: center;
	padding: 50px 0;
}



// Toggle Menu

.toggle_menu {
  display: block;
  width: em(28px);
  height: em(28px);
  margin-top: 14px;
  span {
    position: relative;
    display: block;
    &:after, &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    }
    &:after {
    top: 18px;
    }
  }
  span, span:after, span:before {
  width: 100%;
  height: 4px;
  background-color: $d_base;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
  }
  &.on span {
    background-color: transparent;
  }
  &.on span:before {
    transform: rotate(45deg) translate(-1px, 0px);
  }
  &.on span:after {
    transform: rotate(-45deg) translate(6px, -7px);
  }
}

.toggle_menu {
 position: absolute;
 top: em(20px);
 right: em(15px);
}

.hidden_menu {
	display: none;
	position: relative;
	margin-top: 20px;
  background-color: $d_base;
    ul {
    	padding: 20px 0;
    }
    ul > li > a {
  	color: #fff;
  	&:hover {
  		color: #fff;
  		background-color: $btn;
  		text-decoration: none;
  	}
  }
    ul > li {
  	display: block;
   }
    ul > li.active > a {
  		color: #fff;
  	}
}


.s_wide { 
  padding: 80px 0;
  h2 {
    margin-top: 0;
    line-height: em(20px);
    text-align: center;
    color: $black;
  }
}

.s_dark {
  background-color: $d_base;
  color: #fff;
  h2 {
  color: #fff;    
  }
}

.s_adv {
  padding: 55px 0 10px;
}
.s_adv_item {
  font-size: em(15px);
  font-family: "OpenSansLight", sans-serif;
  color: #c0cdda;
  line-height: em(22px);
  margin-bottom: 40px;
  h3 {
    margin: 0;
    font-size: em(20px);
    color: #dde9f3;
    font-family: "Exo2Bold", sans-serif;
    span {
      font-size: em(20px);
      color: $accent;
    }
  }
  p {
    margin: 10px 0 0;
  }
}

.table {
  display: table;
  width: 100%;
}
.tr {
  display: table-row;
} 
.td {
  display: table-cell;
  vertical-align: middle;
}




.s_gray {
	background-color: #f8f8f8;
}

.gallary_tizer_wrap {
	min-height: 360px;
	border: 7px solid $accent;
	background-size: cover;
	position: relative;
	display: block;
	&:hover, &:visited, &:focus, &:active {
		text-decoration: none;
	}
	&:hover {
		&::before {
			opacity: .7;
		}
	}
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #414e5b;
		opacity: .6;
		@include mt(.5s);
	}
	.table {
		z-index: 2;
		position: relative;
		text-align: center;
		height: 360px;
		span {
			font-size: em(26px);
			color: #fff;
			font-family: "OpenSansLight", sans-serif;
			i {
				color: #b5bdc6;
				font-size: 58px;
			}
		}
	}
}
.tizer_triangle {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	width: em(60px);
	height: em(60px);
	background: linear-gradient(-45deg, $accent 50%, transparent 0);
	background-clip: content-box;
	transform: rotate(-90deg);
}
	.fa-picture-o {
  position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
	font-size: 19px;
	}

.s_profile {
	.fa-plus {
		color: #b1b8be;
		margin-right: 5px;
	}
	.button {
		margin-top: 50px; 
		width: 100%;
	}
	h2 {
		text-align: left;
	}
	p {
		padding: 25px 0;
	}

 .home_gallery_wrap > a,
 .certificate_wrap > a {
   display: none;
   &:first-child {
   	display: block;
   }
 }

}


// Magnific-Popup
.mfp-ready .mfp-figure {
  opacity: 0;
}

.mfp-zoom-in {
  .mfp-figure, .mfp-iframe-holder .mfp-iframe-scaler {
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: scale(0.95);
  }
  &.mfp-bg, .mfp-preloader {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  &.mfp-image-loaded .mfp-figure {
    opacity: 1;
    transform: scale(1);
  }
  &.mfp-ready {
    .mfp-iframe-holder .mfp-iframe-scaler {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg, .mfp-preloader {
      opacity: 0.8;
    }
  }
  &.mfp-removing {
    .mfp-figure, .mfp-iframe-holder .mfp-iframe-scaler {
      transform: scale(0.95);
      opacity: 0;
    }
    &.mfp-bg, .mfp-preloader {
      opacity: 0;
    }
  }
}

.mfp-iframe-scaler {
  overflow: visible;
}

.mfp-zoom-out-cur {
  cursor: auto;
  .mfp-image-holder .mfp-close {
    cursor: pointer;
  }
}

.mfp-preloader {
  width: 30px !important;
  height: 30px !important;
  background-color: $accent;
  opacity: 1;
  margin: 0 auto;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}


@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


.item_vertical {
	svg, img {
		width: 74px;
		height: auto;
	}
	path {
		fill: #555 !important;
		@include mt(.5s);
	}
	&:hover {
	 .button {
    background-color: $accent;
    box-shadow: 0 4px 0 darken($accent, 6%);
    color: #fff;
      &:active, &:focus {
			  background-color: darken($accent, 6%);
			  box-shadow: 0 4px 0 darken($accent, 6%);
      }
	 }
	 path {		
		fill: $accent !important;
	 }
	 h3 {
	 	&::before {
			background-color: $accent;
			width: 30%;
			margin-left: -15%;
		}
	 }
	}
	h3 {
		margin-top: 30px;
		padding-bottom: 15px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -7.5%;
			height: 1px;
			width: 15%;
			background-color: #D0D0D0;
			@include mt(.5s);
		}
	}
	p {
		font-size: em(14px);
		color: #666;
		padding: 0 20px;
		margin-top: 25px;
		margin-bottom: 35px;
	}
	margin-top: 80px;
	text-align: center;
}



.s_works {
	padding-bottom: 0;
	border-bottom: 20px solid #244463;
	h2 {
		color: #fff;
	}
}

.portfolio {
	margin-top: 100px;
  .col-lg-3 {
  	padding: 0;
  }
  .portfolio_item {
  	position: relative;
  	display: block;
  	color: #414e5b;
  	overflow: hidden;
  	img {
      @include mt(.5s);
  	}
  	&:hover {
  	 img {
     	transform: scale(1.1);
     }
  	}
  	.portfolio_item_content {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(255,255,255,.85);
     text-align: center;
     padding: 25% 7% 0;
     opacity: 0;
     @include mt(.5s);
     transform: scale(1.1);
     &:hover {
     opacity: 1;
     transform: scale(.95);
     }
     h3 {
     	line-height: 1.5;
     }
     i {
     	color: rgba(65, 78, 91, .6);
     	font-size: 24px;
     }

  	}
  }
}

.portfolio_popup {
	color: $black;
	position: relative;
	background-color: #fff;
	display: block;
	max-width: 1000px;
	margin: 5% auto;
	text-align: center;
	padding-top: 15px;
	@include mt(.25s);
  .row, .col-sm-12 {
		display: block;
	}
	h2 {
		margin: 30px 0;
		line-height: em(21px);
		width: 75%;
		margin: 30px auto;
	}
	.portfolio_popup_text {
	  text-align: left;
	  width: 90%;
	  margin: 20px auto 40px;
	  display: block;
	  .td {
     vertical-align: top;
     padding: 0 7px;
     color: $base;
     &.wsnw {
     	color: $accent;
     }
     i {
     	font-size: 22px;
     	margin-right: 2px;
     }
	  }
  }
}

.wsnw {
	white-space: nowrap;
}

//.my-mfp-zoom-in Animation


.form_callback {
	@include mt(.3s);
	max-width: 320px;
	margin: auto;
	box-shadow: rgba(0,0,0,.2) 0 0 20px;
	position: relative;
	overflow: hidden;
	.mfp-close {
		color: #fff;
		opacity: .3;
		@include mt(.25s);
		&:hover {
			opacity: .6;
		}
	}
	.contact_form_head {
		h4 {
			color: #fff;
		}
	}
}

.my-mfp-zoom-in {
  .portfolio_popup, .form_callback {
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  &.mfp-ready .portfolio_popup, 
  &.mfp-ready .form_callback {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  &.mfp-removing .portfolio_popup, 
  &.mfp-removing .form_callback {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  &.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
  }
  &.mfp-ready.mfp-bg {
    opacity: 0.8;
  }
  &.mfp-removing.mfp-bg {
    opacity: 0; 
  }
}


* {
	transition: filter .25s ease;
}
.mfp-wrap ~ * {
	filter: blur(5px);
}


.carousel_wrap {
	margin: 0 15px 25px;
	padding: 0 0 30px;
	box-shadow: #D7D7D7 0 0 0 5px inset;
	@include mt(.25s);
	text-align: center;
	background-color: #F8F8F8;
	color: $black;
	&:hover {
		background-color: #EBEBEB;
		box-shadow: $accent 0 0 0 5px inset;
		.button {
			    background-color: $accent;
			    box-shadow: 0 4px 0 darken($accent, 6%);
			    color: #fff;
			      &:active, &:focus {
						  background-color: darken($accent, 6%);
						  box-shadow: 0 4px 0 darken($accent, 6%);
			      }
			}
		.car_img_wrap svg {
	    path {
	    	fill: $accent !important;
	    	opacity: 1;
	    }
	   }
		}
	.car_img_wrap {
	  position: relative;
	  svg, .img_svg {
	  	position: absolute;
	  	max-height: 50px;
	  	left: -50%;
      margin-left: 50%;
	  	top: -20%;
	  	margin-top: 20%;
      path {
      	opacity: .9;
      	@include mt(.25s);
      	fill: #fff !important;
      }
	  }
	}
	h3 {
		font-size: em(17px);
		font-family: "OpenSansBold", sans-serif;
	}
	p {
		font-size: em(13px);
		color: #444;
		padding-bottom: 15px;
	}
	.carousel_text {
		padding: 0 20px;
	}
	.button {
		margin-top: 20px;
	}
}

.s_equipment {
	h2 {
		margin-bottom: 60px;
	}
}


.owl-dots {
	text-align: center;
	margin-top: 25px;
 .owl-dot {
 	width: 14px;
 	height: 14px;
 	background-color: #D7D7D7;
 	border-radius: 10em;
 	display: inline-block;
 	margin: 3px;
 	&.active {
 		background-color: $accent;
 	}
 }
}

.tizer_text {
	font-family: "OpenSansLight", sans-serif;
	font-size: em(19px);
	margin: 40px 0 50px;
}


.item_vertical_2 {
	margin-top: 70px;
	&:hover {
		.rounded_img_wrap {
			border: $accent 5px solid;
      transform: scale(1.15);
		}
		.iv_phone {
			color: $accent;
		}
	}
	text-align: center;
	h3 {
		color: #444;
		font-family: "OpenSansBold", sans-serif;
		font-size: em(17px);
		margin-top: 40px;
		margin-bottom: 10px;
	}
	p {
		font-size: em(13px);
		color: #666;
		letter-spacing: 2px;
		margin-top: 0;
	}
}

.iv_phone {
	margin-top: 22px;
	color: #999;
	font-family: "Exo2Bold", sans-serif;
	font-size: em(17px);
	@include mt(.25s);
	i {
		font-size: 19px;
		margin-right: 3px;
	}
}

.rounded_img_wrap {
  border-radius: 10em;
  border: #c1bdbd 6px solid;
  overflow: hidden;
  width: 125px;
  height: 125px;
  text-align: center;
  margin: auto;
  @include mt(.25s);
  img {
    max-width: 100%;
  }
}


.s_brands {
	padding: 60px 0;
	h2 {
		margin-bottom: 60px;
	}
}

.carousel_brands {
	padding: 0 80px;
	position: relative;
	.owl-controls {
		left: 0;
		top: 0;
		width: 100%;
		position: absolute;
		.owl-nav {
			position: absolute;
			width: 100%;
			top: 0;
			> div {
				position: absolute;
				left: 25px;
				font-size: 34px;
				line-height: 38px;
				color: #9c9c9c;
				transition: all .5s ease;
				&:hover {
					color: $accent;
				}
				&.owl-next {
					right: 25px;
					left: auto;
				}
			}
		}
		.owl-dot {
			display: none;
		}
	 }

		.carousel_brand {
		transition: all .25s ease;
		opacity: .6;
		&:hover {
			opacity: .9;
		}
		a {
			display: block;
			text-align: center;
			img {
				max-width: 70%;
				display: inline-block;
				max-height: 40px;
			}
		}
	}
}


.s_testimonials {
	h2 {
		margin-bottom: 70px;
	}
}
.testimonials_item {
	text-align: center;
	font-size: em(14px);
	margin-top: 20px;
	&:hover {
   .rounded_img_wrap {
		border: $accent 5px solid;
	  }
	  .testimonials_desc {
	  	border-color: $accent;
	  }
	  .testimonials_head h4 {
      color: $accent;
	  }
	}
	.rounded_img_wrap {
		width: 98px;
		height: 98px;
		border: #fff 5px solid;
		box-shadow: rgba(0,0,0,.15) 0 0 5px;
		transition: all .6s ease;
	}
	.testimonials_head {
	 h4 {
		font-size: em(16px);
		font-family: "OpenSansBold", sans-serif;
		color: $black;
		margin-top: 35px;
		margin-bottom: 12px;
		transition: all .5s ease;
	  }
	  p {
    font-size: em(15px);
    letter-spacing: 2px;
    margin-top: 0;
    color: #666;
	  }
  }
	.testimonials_desc {
		background-color: $d_base;
		padding: 30px;
		margin-top: 50px;
		border-radius: 2px;
		h4 {
			color: #fff;
			font-size: em(19px);
			text-transform: none;
			margin-top: 15px;
			margin-bottom: 20px;
		}
		p {
			color: #b5babf;
			margin-bottom: 50px;
		}
		border-bottom: $d_base 5px solid;
		transition: all .5s ease;
	}
}

.testimonials_desc_wrap {
  position: relative;
	.tizer_triangle_2 {
	position: absolute;
	top: -10px;
	left: 46%;
	transform: transitionX(-46%);
	content: "";
	width: em(40px);
	height: em(40px);
	background: linear-gradient(-45deg, $d_base 50%, transparent 0);
	background-clip: content-box;
	transform: rotate(-135deg);
  }
}



.s_contacts_wrapper {
	margin-top: 40px;


.contacts_text {
	font-size: em(18px);
	font-family: "OpenSansLight", sans-serif;
	p {
		margin: 0 0 8px 0;
	}
	.fa {
		color: $accent;
		margin-right: 5px;
		font-size: 24px;
		width: 15px;
		text-align: center;
	}
}

.map {
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 600px;
}

}



.contact_form {
  padding: 32px 26px;
  background-color: darken($d_base, 5%);
  .button {
  	margin-top: 25px;
  }
  &_head {
    text-align: center;
    h4 {
      font-size: em(18px);
      margin-top: 0;
      margin-bottom: 10px;
    }
    p {
      color: #fff;
      opacity: .6;
      font-size: em(14px);
      margin-top: 0;
    }
  }
}


form {
	label {
		margin-bottom: 14px;
		display: block;
		span {
			font-size: 14px;
			color: #fff;
			opacity: .3;
			display: block;
			margin-bottom: 3px;
		}
		input, select {
			background-color: rgba(255,255,255,.6);
			border-radius: 2px;
			border: none;
			padding: 9px 15px 7px;
			display: block;
			width: 100%;
			color: #222;
			font-size: em(15px);
			border-bottom: transparent 4px solid;
			transition: all .5s ease;
			&:focus {
				background-color: #fff;
				border-bottom: lighten($d_base, 9%) 4px solid;
			}
		}
	}
}


.main_foot {
	background-color: darken($d_base, 15%);
  .menu_line {
  	padding: 40px 0;
    .main_menu {
      > ul {
      	> li {
      	&.active, &:hover, &:focus {
      		a {
      			color: #d7dde2;
      		}
      	}
       }
      }
    }
   }
  .phone {
  	.phone_wrap {
  		color: #acb6be;
  	}
  }
}


.success {
	color: #fff;
	background-color: $d_base;
	position: absolute;
	z-index: 1;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	top: -100%;
	opacity: 0;
	@include mt(.5s);
	p {
		display: flex;
		margin: auto;		
	}
	&.active {
		top: 0;
		opacity: 1;
	}
}


.top {
	position: fixed;
	bottom: 90px;
	right: -220px;
	height: 50px;
	width: 50px;
	border-radius: 10em;
	cursor: pointer;
	background-color: #FFF;
	text-align: center;
	opacity: .4;
	color: $d_base;
	@include mt(.5s);
	z-index: 5;
	.fa {
		font-size: 32px;
    margin-top: 8px;
	}
  &:hover {
	opacity: 1;
	background-color: $accent;
 }
 &.active {
 	right: 10px;
 }
}


@import "media.scss";
@import "owl.carousel.scss";